html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

header {
  height: 40px;
  z-index: 100;
  position: relative;
  color: #fff;
  background: #333333;
  transition: margin-left .5s;
  font-size:2em;
}

#map {
    height: 100%;/*fallback*/
    height: calc(100% - 40px);
    transition: margin-left .5s;
}

nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

nav input{
    display: block;
    margin: 0 auto;
}

nav ul {
    padding: 0px;
}
nav a {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s;
}

nav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

.show {
    width: 250px;
}

.pushRight {
    margin-left: 250px;
}

/*@media screen and (max-height: 450px) {

    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}
}*/
